.venv
__pycache__
*.pyc
node_modules
.git
data
*.md
.idea
.vscode
**/.env
**/.env.*
jwt_secret
frontend/dist
frontend/node_modules
backend/tests
backend/requirements-dev.txt
backend/pyproject.toml
backend/data
*.log
.DS_Store
